/* TopTemp START */
#settings_plugin_toptemp .form-horizontal .control-group {
    margin-bottom: 8px;
}

#settings_plugin_toptemp .UICShowIconPicker i{
    display: inline-block;
}
#settings_plugin_toptemp .btnAddonHack{
    border-radius: 0 4px 4px 0;
}

#settings_plugin_toptemp .toptempWarn i{
    margin-right: -25px;
}

#settings_plugin_toptemp #TopTempSortList .accordion-heading {
    display: block;
    padding: 8px 15px;
    cursor: grab;
}
#settings_plugin_toptemp li.tabdrop li.pull-right{
    float: inherit !important;
}

#settings_plugin_toptemp #TopTempSortList .accordion-heading .btn{
    margin-right: 10px;
}

/* main */
#navbar_plugin_toptemp{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar_plugin_toptemp .leftPad{
    padding-left: 3px;
}

#navbar_plugin_toptemp .TopTempArrow{
    transform: rotate(45deg);
    padding: 0px 2px;
}

#navbar_plugin_toptemp div.TopTempPrinter, #navbar_plugin_toptemp div.TopTempCustom{
    position: relative;
    height: 100%;
}

#navbar_plugin_toptemp div .TopTempIcon{
    display: block;
    text-align:center;
    padding-bottom: 2px;
}

#navbar_plugin_toptemp div .TopTempIconNo{
    position: relative;
    top: 4px;
    left: 2px;
    font-weight: bold;
    font-size: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#navbar_plugin_toptemp div.TopTempGraph{
    position: absolute;
    width: 100%;
    padding: 0px;
    top: 2px;
}

#settings_toptemp_customTemplate{
    display: none;
}

#navbar_plugin_toptemp div.TopTempText,
#navbar_plugin_toptemp div.TopTempGraph{
    pointer-events: none;
}

#navbar_plugin_toptemp div.TopTempGraph svg{
    position:absolute;
}

#navbar_plugin_toptemp div.TopTempText {
    height: 100%;
    margin-top: 6px;
    position: relative;
    line-height: initial;
    text-align: center;
}

/* align left - but not on small screens */
@media (min-width: 768px){
    #navbar_plugin_toptemp div.IconsLeft i.TopTempIcon{
        display: inline-block !important;
        padding-right: 5px;
    }

    #navbar_plugin_toptemp div.IconsLeft div.TopTempText{
        margin-top: 14px;
    }

    div.popover.toptempPopover{
        min-width: 400px;
    }
}
@media (min-width: 768px){
    div.popover.toptempPopover{
        width: 400px;
        max-width: 400px;
    }
}
@media (max-width: 767px){
    div.popover.toptempPopover{
        width: calc(100% - 30px);
        left: 10px !important;
        max-width: 100%;
        margin-top: 25px;
    }
}

#navbar_plugin_toptemp div.TopTempGraph .ct-line {
    stroke-width: 1px;
    stroke-opacity: 0.4;
    stroke: #000;
}

#navbar_plugin_toptemp .TopTempLoad{
    height: 15px !important;
    width: 15px !important;
    margin-top: 12px;
    overflow: hidden;
    padding: 0px;
}
#navbar_plugin_toptemp .TopTempLoad:before{
    content: "\f110";
    width: 15px;
    text-align:center;
    font-family: 'FontAwesome3';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    animation: fa-spin 1s steps(8) infinite;
    opacity: 0.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

div.popover.toptempPopover {
    z-index: 1030;
}

div.TopTempPopoverGraph .ct-line {
    stroke-width: 1px;
}

div.popover.toptempPopover div.TopTempPopoverText{
    padding: 0px 5px 5px 5px;
}

div.popover.toptempPopover div.TopTempPopoverGraph {
    border-radius: 4px;
    background-color:#f5f5f5;
}

div.popover.toptempPopover div.arrow{
    pointer-events: none;
}

div.popover.toptempPopover div.popover-content{
    padding: 5px;
}
div.popover.toptempPopover text.ct-axis-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    fill: #555;
}

/* when we turn on preview lets change the position*/
body.TopTemPreviewON div#settings_dialog {
    margin-top: 0px !important;
    top: 80px;
}

#settings_plugin_toptemp .help-inline{
    font-size: 0.8em;
}

/* TopTemp END */