<form class="form-horizontal">
    <ul class="nav nav-pills" id="TopTempSettingsBar">
        <li class="active"><a data-toggle="tab" href="#settings_toptemp_general">{{ _('General') }}</a></li>
        <li><a data-toggle="tab" href="#settings_toptemp_bed">{{ _('Bed settings') }}</a></li>
        <li><a data-toggle="tab" href="#settings_toptemp_chamber">{{ _('Chamber settings') }}</a></li>
        <li><a data-toggle="tab" class="TopTempHideTool" href="#settings_toptemp_tool0">{{ _('Tool 0 settings') }}</a></li>
        <li id="TopTempSettingXtraTools" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Extra tools<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!-- ko foreach: new Array((settings.plugins.toptemp.noTools()*1-1)) -->
                <li><a data-toggle="tab" class="TopTempHideTool" data-bind="attr: { href: '#settings_toptemp_tool' + ($index()+1) }, html: 'Tool ' + ($index()+1) + ' settings'"></a></li>
                <!-- /ko -->
            </ul>
        </li>
        <li id="TopTempSettingCustomMenu" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Custom<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><a tabindex="-1" href="#" id="settings_plugin_toptemp_newCustom"><i class="fas fa-plus"></i> Add new</a></li>
            </ul>
        </li>
        <li class="pull-right"><a id="TopTempTogglePreview" href="javascript:void(0);"><i class="far fa-square"></i>&nbsp;Preview</a></li>
    </ul>
    <hr/>
    <div class="tab-content">
        <div class="tab-pane active" id="settings_toptemp_general">
            <h4>{{ _('General') }}</h4>
            <div class="control-group" title="Show temperature in fahrenheit">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.toptemp.fahrenheit"> {{ _('Show temperatures in fahrenheit') }}
                    </label>
                </div>
            </div>
            <div class="control-group" title="Align icons to the left of the readouts">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.toptemp.leftAlignIcons"> {{ _('Align icons to the left') }}
                    </label>
                </div>
            </div>
            <div class="control-group" title="Hide printer temperatures when not connected">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.toptemp.hideInactiveTemps"> {{ _('Hide printer temperatures when not operational') }}
                    </label>
                </div>
            </div>
            <div class="control-group" title="Outer margin">
                <label class="control-label">Outer margin</label>
                <div class="controls">
                    <input type="number" min="0" max="10" step="1" id="settings_toptemp_outerm" data-bind="value: settings.plugins.toptemp.outerMargin">
                </div>
            </div>
            <div class="control-group" title="Spacing between">
                <label class="control-label">Spacing between icons</label>
                <div class="controls">
                    <input type="number" min="0" max="20" step="1" id="settings_toptemp_innerm" data-bind="value: settings.plugins.toptemp.innerMargin">
                </div>
            </div>
            <h4>{{ _('Sort order') }}</h4>
            <div class="control-group" title="Sort the order the icons are shown">
                <div class="controls">
                    <div id="TopTempSortList" class="accordion"></div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="settings_toptemp_bed">
            <h4>{{ _('Bed settings') }}</h4>
            <div class="control-group" title="Show the bed temperature in top bar">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.show"> {{ _('Show the bed temperature in top bar') }}
                    </label>
                </div>
            </div>
            <div data-bind="visible: settings.plugins.toptemp.bed.show">
                <div class="control-group" title="Hide if no target temperature is set">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.hideOnNoTarget"> {{ _('Hide if no target temperature is set') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show popover with a temperature graph when mouse hovers over the top bar item">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.showPopover"> {{ _('Show overlay with more details on mouse hover') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show the target temperature">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.showTargetTemp"> {{ _('Show target temperature') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show the target arrow indicating rising/falling temperature">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.showTargetArrow"> {{ _('Show target progress') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show temperature unit symbol">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.showUnit"> {{ _('Show temperature unit symbol') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Label in - blank for nothing">
                    <label class="control-label">Label</label>
                    <div class="controls">
                        <input type="text" data-bind="value: settings.plugins.toptemp.bed.label" placeholder="Label - blank for nothing">
                        <span class="help-inline">Blank for no label</span>
                    </div>
                </div>
                <div class="control-group" title="Icon in - blank for no icon">
                    <label class="control-label">Icon</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" data-bind="value: settings.plugins.toptemp.bed.icon" placeholder="Icon - blank for no icon">
                            <button class="btn UICShowIconPicker" type="button"><i data-bind="class: settings.plugins.toptemp.bed.icon"></i></button>
                        </div>
                        <span class="help-inline">Blank for no icon</span>
                    </div>
                </div>
                <div data-bind="visible: settings.plugins.toptemp.bed.icon().length >0" class="control-group" title="Colorize icons to indicate hot or not">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.colorIcons"> {{ _('Colorize icons to indicate hot or not') }}
                        </label>
                    </div>

                </div>
                <div data-bind="visible: settings.plugins.toptemp.bed.icon().length >0 && settings.plugins.toptemp.bed.colorIcons" class="control-group" title="When should we change the color?">
                   <label class="control-label">Color change level</label>
                    <div class="controls">
                        <input type="number" min="0" step="any" data-bind="value: settings.plugins.toptemp.bed.colorChangeLevel">
                        <span class="help-inline">When the temperature reaches this number the color changes</span>
                    </div>
                </div>

                <div class="control-group" title="Number of digits show for temperature">
                    <label class="control-label">Number of digits</label>
                    <div class="controls">
                        <input type="number" min="0" max="2" step="any" data-bind="value: settings.plugins.toptemp.bed.noDigits">
                    </div>
                </div>
                <div class="control-group" title="Decimal seperator">
                    <label class="control-label">Decimal seperator</label>
                    <div class="controls">
                        <input type="text" maxlength="1" data-bind="value: settings.plugins.toptemp.bed.decSep" placeholder="Decimal seperator symbol">
                    </div>
                </div>
                <h4>{{ _('Background graph') }}</h4>
                <div class="TopTempGraphSetting control-group" title="Show temperature graph backdrop">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.bed.graphSettings.show"> {{ _('Show temperature graph backdrop') }}
                        </label>
                    </div>
                </div>
                <div class="TopTempGraphSetting" data-bind="visible: settings.plugins.toptemp.bed.graphSettings.show">
                    <div class="control-group" title="Graph transparency">
                        <label class="control-label">Graph transparency</label>
                        <div class="controls">
                            <input type="number" min="0.01" max="1" step="0.01" data-bind="value: settings.plugins.toptemp.bed.graphSettings.opa">
                            <span class="help-inline">1 = no transparency, 0.10 = almost hidden</span>
                        </div>
                    </div>
                    <div class="control-group" title="Graph height">
                        <label class="control-label">Graph height</label>
                        <div class="controls">
                            <input type="number" min="1" max="100" step="1" data-bind="value: settings.plugins.toptemp.bed.graphSettings.height">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line width">
                        <label class="control-label">Graph line width</label>
                        <div class="controls">
                            <input type="number" min="1" max="5" step="1" data-bind="value: settings.plugins.toptemp.bed.graphSettings.width">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line color">
                        <label class="control-label">Graph line color</label>
                        <div class="controls">
                            <input type="color" data-bind="value: settings.plugins.toptemp.bed.graphSettings.color">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="TopTempCopyToAll btn btn-info">Copy settings to all</button>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="settings_toptemp_chamber">
            <h4>{{ _('Chamber settings') }}</h4>
            <div class="control-group" title="Show the chamber temperature in top bar">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.show"> {{ _('Show the chamber temperature in top bar') }}
                    </label>
                </div>
            </div>
            <div data-bind="visible: settings.plugins.toptemp.chamber.show">
                <div class="control-group" title="Hide if no target temperature is set">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.hideOnNoTarget"> {{ _('Hide if no target temperature is set') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show popover with a temperature graph when mouse hovers over the top bar item">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.showPopover"> {{ _('Show overlay with more details on mouse hover') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show the target temperature">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.showTargetTemp"> {{ _('Show target temperature') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show the target arrow indicating rising/falling temperature">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.showTargetArrow"> {{ _('Show target progress') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show temperature unit symbol">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.showUnit"> {{ _('Show temperature unit symbol') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Label - blank for nothing">
                    <label class="control-label">Label</label>
                    <div class="controls">
                        <input type="text" data-bind="value: settings.plugins.toptemp.chamber.label" placeholder="Label - blank for nothing">
                        <span class="help-inline">Blank for no label</span>
                    </div>
                </div>
                <div class="control-group" title="Icon - blank for no icon">
                    <label class="control-label">Icon</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" data-bind="value: settings.plugins.toptemp.chamber.icon" placeholder="Icon - blank for no icon">
                            <button class="btn UICShowIconPicker" type="button"><i data-bind="class: settings.plugins.toptemp.chamber.icon"></i></button>
                        </div>
                        <span class="help-inline">Blank for no icon</span>
                    </div>
                </div>
                <div data-bind="visible: settings.plugins.toptemp.chamber.icon().length >0 " class="control-group" title="Colorize icons to indicate hot or not">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.colorIcons"> {{ _('Colorize icons to indicate hot or not') }}
                        </label>
                    </div>
                </div>
                <div data-bind="visible: settings.plugins.toptemp.chamber.icon().length >0 && settings.plugins.toptemp.chamber.colorIcons" class="control-group" title="When should we change the color?">
                   <label class="control-label">Color change level</label>
                    <div class="controls">
                        <input type="number" min="0" step="any" data-bind="value: settings.plugins.toptemp.chamber.colorChangeLevel">
                        <span class="help-inline">When the temperature reaches this number the color changes</span>
                    </div>
                </div>

                <div class="control-group" title="Number of digits show for temperature">
                    <label class="control-label">Number of digits</label>
                    <div class="controls">
                        <input type="number" min="0" max="2" step="any" data-bind="value: settings.plugins.toptemp.chamber.noDigits">
                    </div>
                </div>
                <div class="control-group" title="Decimal seperator">
                    <label class="control-label">Decimal seperator</label>
                    <div class="controls">
                        <input type="text" maxlength="1" data-bind="value: settings.plugins.toptemp.chamber.decSep" placeholder="Decimal seperator symbol">
                    </div>
                </div>
                <h4>{{ _('Background graph') }}</h4>
                <div class="TopTempGraphSetting control-group" title="Show temperature graph backdrop">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.toptemp.chamber.graphSettings.show"> {{ _('Show temperature graph backdrop') }}
                        </label>
                    </div>
                </div>
                <div class="TopTempGraphSetting" data-bind="visible: settings.plugins.toptemp.chamber.graphSettings.show">
                    <div class="control-group" title="Graph transparency">
                        <label class="control-label">Graph transparency</label>
                        <div class="controls">
                            <input type="number" min="0.01" max="1" step="0.01" data-bind="value: settings.plugins.toptemp.chamber.graphSettings.opa">
                            <span class="help-inline">1 = no transparency, 0.10 = almost hidden</span>
                        </div>
                    </div>
                    <div class="control-group" title="Graph height">
                        <label class="control-label">Graph height</label>
                        <div class="controls">
                            <input type="number" min="1" max="100" step="1" data-bind="value: settings.plugins.toptemp.chamber.graphSettings.height">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line width">
                        <label class="control-label">Graph line width</label>
                        <div class="controls">
                            <input type="number" min="1" max="5" step="1" data-bind="value: settings.plugins.toptemp.chamber.graphSettings.width">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line color">
                        <label class="control-label">Graph line color</label>
                        <div class="controls">
                            <input type="color" data-bind="value: settings.plugins.toptemp.chamber.graphSettings.color">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="TopTempCopyToAll btn btn-info">Copy settings to all</button>
                </div>
            </div>
        </div>
        <!-- ko foreach: new Array((settings.plugins.toptemp.noTools()*1)) -->

        <div class="tab-pane" data-bind="attr: { id: 'settings_toptemp_tool' + $index() }">
            <h4 data-bind=" html: 'Tool ' + $index() + ' settings'"></h4>
            <div class="control-group" title="Show the tool temperature in top bar">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].show"> {{ _('Show the tool temperature in top bar') }}
                    </label>
                </div>
            </div>
            <div data-bind="visible: $parent.settings.plugins.toptemp['tool'+$index()].show">
                <div class="control-group" title="Hide if no target temperature is set">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].hideOnNoTarget"> {{ _('Hide if no target temperature is set') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show popover with a temperature graph when mouse hovers over the top bar item">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].showPopover"> {{ _('Show overlay with more details on mouse hover') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show the target temperature">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].showTargetTemp"> {{ _('Show target temperature') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show the target arrow indicating rising/falling temperature">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].showTargetArrow"> {{ _('Show target progress') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Show temperature unit symbol">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].showUnit"> {{ _('Show temperature unit symbol') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Label - blank for nothing">
                    <label class="control-label">Label</label>
                    <div class="controls">
                        <input type="text" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].label" placeholder="Label - blank for nothing">
                        <span class="help-inline">Blank for no label</span>
                    </div>
                </div>
                <div class="control-group" title="Icon - blank for no icon">
                    <label class="control-label">Icon</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].icon" placeholder="Icon - blank for no icon">
                            <button class="btn UICShowIconPicker" type="button"><i data-bind="class: $parent.settings.plugins.toptemp['tool'+$index()].icon"></i></button>
                        </div>
                        <span class="help-inline">Blank for no icon</span>
                    </div>
                </div>
                <div data-bind="visible: $parent.settings.plugins.toptemp['tool'+$index()].icon().length >0" class="control-group" title="Colorize icons to indicate hot or not">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].colorIcons"> {{ _('Colorize icons to indicate hot or not') }}
                        </label>
                    </div>
                </div>
                <div data-bind="visible: $parent.settings.plugins.toptemp['tool'+$index()].icon().length >0 && $parent.settings.plugins.toptemp['tool'+$index()].colorIcons" class="control-group" title="When should we change the color?">
                   <label class="control-label">Color change level</label>
                    <div class="controls">
                        <input type="number" min="0" step="any" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].colorChangeLevel">
                        <span class="help-inline">When the temperature reaches this number the color changes</span>
                    </div>
                </div>
                <div data-bind="visible: $parent.settings.plugins.toptemp['tool'+$index()].icon().length >0" class="control-group" title="Show tool number next to the icon">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].appendIconNumber"> {{ _('Show tool number next to icon') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Number of digits show for temperature">
                    <label class="control-label">Number of digits</label>
                    <div class="controls">
                        <input type="number" min="0" max="2" step="any" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].noDigits">
                    </div>
                </div>
                <div class="control-group" title="Decimal seperator">
                    <label class="control-label">Decimal seperator</label>
                    <div class="controls">
                        <input type="text" maxlength="1" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].decSep" placeholder="Decimal seperator symbol">
                    </div>
                </div>
                <h4>{{ _('Background graph') }}</h4>
                <div class="TopTempGraphSetting control-group" title="Show temperature graph backdrop">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $parent.settings.plugins.toptemp['tool'+$index()].graphSettings.show"> {{ _('Show temperature graph backdrop') }}
                        </label>
                    </div>
                </div>
                <div class="TopTempGraphSetting" data-bind="visible: $parent.settings.plugins.toptemp['tool'+$index()].graphSettings.show">
                    <div class="control-group" title="Graph transparency">
                        <label class="control-label">Graph transparency</label>
                        <div class="controls">
                            <input type="number" min="0.01" max="1" step="0.01" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].graphSettings.opa">
                            <span class="help-inline">1 = no transparency, 0.10 = almost hidden</span>
                        </div>
                    </div>
                    <div class="control-group" title="Graph height">
                        <label class="control-label">Graph height</label>
                        <div class="controls">
                            <input type="number" min="1" max="100" step="1" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].graphSettings.height">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line width">
                        <label class="control-label">Graph line width</label>
                        <div class="controls">
                            <input type="number" min="1" max="5" step="1" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].graphSettings.width">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line color">
                        <label class="control-label">Graph line color</label>
                        <div class="controls">
                            <input type="color" data-bind="value: $parent.settings.plugins.toptemp['tool'+$index()].graphSettings.color">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="TopTempCopyToTools btn btn-info">Copy settings to all tools</button>
                    <button type="button" class="TopTempCopyToAll btn btn-info">Copy settings to all</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="tab-pane" id="settings_toptemp_customTemplate">
            <input type="hidden" value="True" data-settings="show" />
            <h4></h4>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" data-custommon="name" maxlength="20" placeholder="Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Type</label>
                <div class="controls">
                    <select data-custommon="type">
                        <option value="cmd" selected="selected">Command</option>
                        <option value="gcIn">From printer</option>
                        <option value="gcOut">GCode sent</option>
                        <option value="psutil">Server data</option>
                    </select>
                    <span class="help-inline">
                        "Command" is a command executed on the RPI/PC. "GCode sent" will look at the GCode sent to the printer and return a value based on the reg. exp.
                        "From printer" will look at the data returned from the printer and return a value based on the reg. exp. "Server data" will get data from RPI/PC.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="topTempShowCMD">Command</span><span class="topTempShowGC">Regexp</span><span class="topTempShowPS">Item</span></label>
                <div class="controls">
                    <div class="input-append">
                        <span class="input-xlarge uneditable-input topTempShowPS topTempPSUtilView"></span>
                        <input type="text" class="input-xlarge topTempShowCMD topTempShowGC" data-custommon="cmd" required>
                        <div class="btn-group">
                            <a class="btn toptempTestCMD topTempShowCMD topTempShowPS">Test</a>
                            <button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                <span class="topTempShowGC topTempShowCMD">Predefined</span><span class="topTempShowPS">Select</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu topTempPreDefCmds"></ul>
                        </div>
                    </div>
                    <span class="help-inline">What command/regexp to execute to get data, should return a number</span>
                </div>
            </div>
            <div class="topTempShowCMD topTempShowPS toptempTestCMDOutContainer control-group hide">
               <label class="control-label">Test result</label>
                <div class="controls">
                    <div class="toptempTestCMDOutput"></div>
                </div>
            </div>
            <div class="control-group topTempShowCMD topTempShowPS" title="Interval for execution">
               <label class="control-label">Run interval</label>
                <div class="controls">
                    <input type="number" min="1" max="86400" step="1" data-custommon="interval">
                    <span class="help-inline">How often shall the command be executed, in seconds.</span>
                </div>
            </div>

            <div class="control-group" title="Only display when printer is printing">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-settings="waitForPrint"> {{ _('Only show while printer is printing') }}
                    </label>
                </div>
            </div>

            <div class="control-group" title="Is the input value a temperature?">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-settings="isTemp"> {{ _('Input is a temperature value') }}
                    </label>
                </div>
            </div>

            <div data-visible="show">
                <h4>Display settings</h4>
                <div class="control-group" title="Show popover with a graph when mouse hovers over the top bar item">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-settings="showPopover"> {{ _('Show overlay with more details on mouse hover') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" data-visible="isTemp" title="Show temperature unit symbol">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-settings="showUnit"> {{ _('Show temperature unit symbol') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" title="Unit" data-visible="!isTemp">
                    <label class="control-label">Unit</label>
                    <div class="controls">
                        <input type="text" data-settings="unit" placeholder="Unit: %, RPM, MB etc.">
                        <span class="help-inline">Blank for no unit</span>
                    </div>
                </div>
                <div class="control-group" title="Label - blank for nothing">
                    <label class="control-label">Label</label>
                    <div class="controls">
                        <input type="text" data-settings="label" placeholder="Label - blank for nothing">
                        <span class="help-inline">Blank for no label</span>
                    </div>
                </div>
                <div class="control-group" title="Icon - blank for no icon">
                    <label class="control-label">Icon</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" data-settings="icon" placeholder="Icon - blank for no icon">
                            <button class="btn UICShowIconPicker" type="button"><i class=""></i></button>
                        </div>
                        <span class="help-inline">Blank for no icon</span>
                    </div>
                </div>
                <div class="control-group" data-visible="icon" title="Colorize icons to indicate hot or not">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-settings="colorIcons"> {{ _('Colorize icons to indicate hot or not') }}
                        </label>
                    </div>
                </div>
                <div class="control-group" data-visible="colorIcons" title="When should we change the color?">
                   <label class="control-label">Color change level</label>
                    <div class="controls">
                        <input type="number" min="0" step="any" data-settings="colorChangeLevel">
                        <span class="help-inline">When the input reaches this number the color changes</span>
                    </div>
                </div>

                <div class="control-group" title="Number of digits">
                    <label class="control-label">Number of digits</label>
                    <div class="controls">
                        <input type="number" min="0" max="2" step="any" data-settings="noDigits">
                    </div>
                </div>
                <div class="control-group" title="Decimal seperator">
                    <label class="control-label">Decimal seperator</label>
                    <div class="controls">
                        <input type="text" maxlength="1" data-settings="decSep" placeholder="Decimal seperator symbol">
                    </div>
                </div>
                <h4>{{ _('Background graph') }}</h4>
                <div class="TopTempGraphSetting control-group" title="Show graph backdrop">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-settings="graphSettings.show"> {{ _('Show graph backdrop') }}
                        </label>
                    </div>
                </div>
                <div class="TopTempGraphSetting" data-visible="graphSettings.show">
                    <div class="control-group" title="Graph transparency">
                        <label class="control-label">Graph transparency</label>
                        <div class="controls">
                            <input type="number" min="0.01" max="1" step="0.01" data-settings="graphSettings.opa">
                            <span class="help-inline">1 = no transparency, 0.10 = almost hidden</span>
                        </div>
                    </div>
                    <div class="control-group" title="Graph height">
                        <label class="control-label">Graph height</label>
                        <div class="controls">
                            <input type="number" min="1" max="100" step="1" data-settings="graphSettings.height">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line width">
                        <label class="control-label">Graph line width</label>
                        <div class="controls">
                            <input type="number" min="1" max="5" step="1" data-settings="graphSettings.width">
                        </div>
                    </div>
                    <div class="control-group" title="Graph line color">
                        <label class="control-label">Graph line color</label>
                        <div class="controls">
                            <input type="color" data-settings="graphSettings.color">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group text-center">
                <br>
                <button type="button" class="TopTempDelete btn btn-danger"><i class="fas fa-trash"></i> <span>Delete</span></button>
            </div>
        </div>
</form>
